{# templates/car/add.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ajouter une voiture{% endblock %}

{% block body %}
    <section id="add">
        <a href="{{ path('app_home') }}">← Retour</a>
        <h1>Ajouter une voiture</h1>

        {{ form_start(carForm) }}

        <div class="input">
            {{ form_label(carForm.name, 'Nom de la voiture') }}
            {{ form_widget(carForm.name) }}
        </div>
        <div class="input">
            {{ form_label(carForm.description, 'Description') }}
            {{ form_widget(carForm.description) }}
        </div>
        <div class="flex-input">
            <div class="input">
                {{ form_label(carForm.monthlyPrice, 'Prix mensuel') }}
                {{ form_widget(carForm.monthlyPrice) }}
            </div>
            <div class="input">
                {{ form_label(carForm.dailyPrice, 'Prix journalier') }}
                {{ form_widget(carForm.dailyPrice) }}
            </div>
        </div>
        <div class="flex-input">
            <div class="input">
                {{ form_label(carForm.seatsNumber, 'Nombre de places') }}
                {{ form_widget(carForm.seatsNumber) }}
            </div>
            <div class="input">
                {{ form_label(carForm.manual, 'Boîte de vitesse') }}
                {{ form_widget(carForm.manual) }}
            </div>
        </div>

        <button type="submit" class="btn-add">Ajouter</button>

        {{ form_end(carForm) }}
    </section>
{% endblock %}
