{# templates/base.html.twig #}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Le titre sera défini par chaque page enfant #}
    <title>{% block title %}Véhicloc{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
</head>
<body>

<header>
    <nav>
        {# On utilise path() pour générer l'URL vers la route 'app_car' #}
        <a href="{{ path('app_car') }}"><img src="{{ asset('assets/img/logo.png') }}" alt="Vehicloc" /></a>
        <a href="#" class="btn-nav">Ajouter une voiture</a> {# Lien à faire plus tard #}
    </nav>
    <div class="flex-header">
        <div>
            <h1>Location de voitures à Saint-Étienne</h1>
            <p>Un service de location de voitures au mois pour répondre à vos besoins de mobilité.</p>
        </div>
        <div>
            <img src="{{ asset('assets/img/car.png') }}" alt="Voiture">
        </div>
    </div>
</header>

{# C'est ici que le contenu spécifique de chaque page sera inséré #}
<main>
    {% block body %}{% endblock %}
</main>

<footer>
    <h2>Conduire avec nous</h2>
    <nav>
        <ul>
            <li><a href="#">Mentions légales</a></li>
            <li><a href="#">Nous contacter</a></li>
            <li>
                <a href="#"><img src="{{ asset('assets/icons/instagram.png') }}" alt="Instagram" /></a>
                <a href="#"><img src="{{ asset('assets/icons/facebook.png') }}" alt="Facebook" /></a>
            </li>
        </ul>
        <ul>
            <li><a href="#">Données personnelles</a></li>
            <li><a href="#">Questions fréquentes</a></li>
            <li class="copyright">© Véhicloc 2023</li>
        </ul>
    </nav>
</footer>

</body>
</html>
